
@import url('https://fonts.googleapis.com/css2?family=Inconsolata&family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&family=Inconsolata&family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Homemade+Apple&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gentium+Basic:ital@1&family=Roboto&display=swap');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

header {
  height: 175px;
  border-box: box-sizing;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  color: #e3ddd1;
  padding: 5px;
  font-family: 'Cormorant Garamond', serif;
  font-size: 95px;
  margin-bottom: 25px;
}
.section-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 25vh;
}
.grey-body-container {
  background: #414853;
  height: .1vh;
  width: 100vw;
  flex-direction: column;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 5px;
  opacity: 25%;
  border-style: double;
}
.white-input-section {
  background-color: white;
  height: 25px;
  width: 100%;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}
.your-secret-here-1 {
  width: 250px;
  height: 45px;
  border-radius: 5px;
  border-style: none;
  background-color: #F9F9F9;
  margin-bottom: 10px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  /* position: fixed;
  top: 300px; */
}
.your-secret-here-2 {
  width: 75px;
  height: 23px;
  border-radius: 5px;
  border-style: none;
  font-weight: 700;
  font-family: 'Homemade Apple', cursive;
  /* background-color: #FFE7DC; */
  background-color: #E8D6D4;
  /* background-color: #C98679; */
}

.secret-container {
  height: 220px;
  width: 220px;
  margin: 4px;
  border-radius: 3px;
  box-shadow: 0px 0px 7px -2px rgba(0,0,0,0.75);
  display: flex;
  justify-content: space-around;
  align-items: center;
}

img {
  opacity: 1;
}

.disappear {
  opacity: 0;
}

.lipsList-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.secret-text {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px;
  font-family: 'Gentium Basic', serif;
  color: #252626
}


